/* General */

html {
  margin: 0;
  height: 300%;
}

@media screen and (max-width: 1030px) {
  html {
    height: 400%;
  }
}

body,
#root {
  margin: 0;
  height: 100%;
}

/* Styles for Material UI components. I know it's bad. Sorry. */

.MuiTabs-flexContainer-69 {
  flex-direction: column;
  height: 100%;
}

.MuiTab-textColorInherit-79 {
  min-width: 100%;
  opacity: 0.4;
}

.MuiTab-textColorInherit-79.MuiTab-selected-82 {
  border-right: solid 2px #f50057;
  transition: border-right 0s 0.13s ease;
}

.MuiPrivateTabIndicator-colorSecondary-91 {
  display: none;
}

.MuiTab-root-77 {
  flex-grow: 1;
}
